<h1>Add New Person</h1>

<%= form_for @person, url:persons_path do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :occupation %>
  <%= f.text_field :occupation %>

  <%= f.submit "Create Person" %>

<% end %>
